# Ignore node_modules
node_modules/
blogging website - frontend/node_modules/

# Ignore Vim swap files
*.swp

# Ignore environment files
*.env
server/.env

# Ignore Firebase service account key
server/mern-blogging-web-72a84-firebase-adminsdk-344c9-dc694c57b8.json

# Ignore other sensitive JSON files
*.json
